<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austin Paulley - Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/writeups">Writeups</a></li>
        </ul>
        <div class="mode-toggle">Toggle Dark Mode</div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        function toggleDarkMode() {
            document.body.classList.toggle('dark');
            const isDarkMode = document.body.classList.contains('dark');
            localStorage.setItem('darkMode', isDarkMode);
        }

        document.addEventListener('DOMContentLoaded', () => {
            const darkMode = localStorage.getItem('darkMode');
            if (darkMode === 'true') {
                document.body.classList.add('dark');
            }
            const toggleButton = document.querySelector('.mode-toggle');
            toggleButton.addEventListener('click', toggleDarkMode);
        });
    </script>
</body>
</html>