{% extends 'base.html' %}
{% block content %}
<section id="resume">
    <h1>Resume</h1>
    <div class="resume-content">
        <div class="card">
            <h2>Contact Information</h2>
            <p><strong>Austin Paulley</strong></p>
            <ul>
                <li>New Smyrna Beach, FL 32168</li>
                <li>(386) 690-3431</li>
                <li><a href="mailto:austin.paulley@cfl.rr.com">austin.paulley@cfl.rr.com</a></li>
                <li><a href="https://www.linkedin.com/in/austin-paulley-923b7b27b/" target="_blank">www.linkedin.com/in/austin-paulley-923b7b27b/</a></li>
            </ul>
            <p class="tagline">"Leveraging Expertise in AI Development and Cybersecurity to Drive Organizational Initiatives."</p>
        </div>

        <div class="card">
            <h2>Core Expertise</h2>
            <p class="expertise-list">| Cybersecurity | AI Development | Operational Efficiency | Leadership Development | Staff Management | Strategic Planning | Relationship Building | Team Effectiveness | Inventory Management | Analytical Skills | Time Management Skills | Verbal and Written Communication Skills | Quality Assurance | Information Technology | Research | IT Support | Software Systems | Computer Hardware | Technical Support | Information Systems | Internet Connectivity | Troubleshooting |</p>
        </div>

        <div class="card">
            <h2>Technical Skills</h2>
            <p class="expertise-list">| Java | C++ | Python | Linux | IntelliJ | Docker | Burp | Visual Studio | Kali Linux | AWS servers | HTML and Secure HTML | Digital Ocean | React | Azure | OpenAI ChatGPT API | Rust | IntelliJ | MongoDB | WireShark | SQL | JavaScript | Prolog |</p>
        </div>

        <div class="card">
            <h2>Education, Certifications and Professional Development</h2>
            <p><strong>Cybersecurity Major</strong> | Stetson University, DeLand, FL | August 2022 – December 2024</p>
            <ul>
                <li>GPA of 3.0/4.0</li>
                <li>Full scholarship recipient in Spring 2021</li>
                <li>Part of Stetson’s Honors College</li>
                <li>Basic Coding, Diverse Coding, Secure Coding, Network Security, Big Database, Artificial Intelligence, and Cybersecurity</li>
                <li>Graduated in Fall of 2024 with a Bachelors in Science</li>
            </ul>
            <p></p> <!-- Blank line -->
            <p><strong>Associate of Arts</strong> | Daytona State College, Daytona Beach, FL | August 2020 – May 2022</p>
            <ul>
                <li>GPA of 3.65/4.0</li>
                <li>Dean's List </li>
                <li>Quanta Honors Program designed for high-achieving students</li>
                <li>Fufilled the role of Vice President of New Symrna Beach Campus for SGA for 2 Semesters</li>
            </ul>
            <p></p> <!-- Blank line -->
            <p><strong>Certification, ServSafe Managers</strong> | January 2023 – January 2028</p>
        </div>

        <div class="card">
            <h2>Professional Experience</h2>
            <p><strong>Half Wall Port Orange / Half Wall Brewery</strong></p>
            <p>| May 2020 – Present</p>
            <ul>
                <li>Elevate through the ranks from dishwasher to dedicated Kitchen Manager within three years, demonstrating rapid career progression, problem solving, and commitment to operational excellence.</li>
                <li>Implement strategic initiatives and work independently to streamline kitchen operations, optimizing workflow efficiency and fostering a collaborative staff environment.</li>
                <li>Pioneer a targeted and strategic restructuring of staffing, during the end of covid19 which saw a extreme hardship in hiring new empoloyees. </li>
            </ul>
        </div>

        <div class="card">
            <h2>Volunteer/Leadership Experience</h2>
            <ul>
                <li>Guided emerging leaders within the New Smyrna Beach High School band for a three-year tenure, promoting a supportive and growth-oriented environment.</li>
                <li>Represented the Student Government Association at Daytona State College, actively engaging in how-to guides or decision-making processes and advocating for the student body or problem-solving.</li>
                <li>Devoted more than 500 hours to volunteering throughout the journey, contributing to the enrichment of community programs in Southeast Volusia Babe Ruth and playing an instrumental role in advancing initiatives within the school band.</li>
            </ul>
        </div>

        <div class="resume-download">
            <a href="{{ url_for('static', filename='resumes/civilian_resume.pdf') }}" class="download-btn">Download PDF</a>
        </div>
    </div>
</section>
{% endblock %}